%tr
  %td= product_counter + 1
  %td= link_to product.number, product_path(product)
  %td= product.name
  %td= number_with_delimiter(product.width)
  %td= number_with_delimiter(product.height)
  %td= number_with_delimiter(product.depth)
  %td= number_with_delimiter(product.weight)
  %td= number_with_delimiter(product.volume)
  %td= number_with_delimiter(product.stock_level)
  %td
    = link_to t("helpers.links.edit"), edit_product_path(product), :class => 'btn btn-mini'
    = link_to t("helpers.links.destroy"), product_path(product), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'